{% extends 'common/base.html' %}
{% block content %}
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8">
          <div class="container">
            <div class="row">
            {% for article in pagination.items %}
              <!-- post -->
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{{ url_for('bp.list_post',aid = article[0].aid - 1)}}"><img src="/static/img/blog-post-1.jpeg" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                      {% block scripts %}
                        {{ moment.include_jquery() }}
                        {{ moment.include_moment() }}
                      {% endblock %}
                        {{ moment.locale('zh-CN') }}
                    <div class="date meta-last">发表于:{{ moment(current_time).fromNow()}}</div>
                    <div class="category"><a href="#">{{categories[cid-1].name}}</a></div>
                  </div><a href="{{ url_for('bp.list_post',aid = article[0].aid - 1)}}">
                    <h3 class="h4">{{ article[0].title }}</h3></a>
                  <p class="text-muted">{{ article[0].content }}</p>
                    <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="/static/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
                      <div class="title"><span>John Doe</span></div></a>
                    <div class="date"><i class="icon-clock"></i> {{article[0].creat_time}}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{article[0].comments}}</div>
                  </footer>
                </div>
              </div>
            {% endfor %}
{#                {% if i < article_num - 1 %}#}
                              <!-- post -->
{#                             <div class="post col-xl-6">#}
{#                                <div class="post-thumbnail"><a href="{{ url_for('bp.list_post',aid = articles[i][0].aid - 1 )}}"><img src="/static/img/blog-post-2.jpg" alt="..." class="img-fluid"></a></div>#}
{#                                <div class="post-details">#}
{#                                  <div class="post-meta d-flex justify-content-between">#}
{#                                    <div class="date meta-last">发表于:{{ moment(current_time).fromNow()}}</div>#}
{#                                    <div class="category"><a href="#">{{categories[cid-1].name}}</a></div>#}
{#                                  </div><a href="{{ url_for('bp.list_post',aid = articles[i][0].aid )}}">#}
{#                                    <h3 class="h4">{{ articles[i][0].title }}</h3></a>#}
{#                                  <p class="text-muted">{{ articles[i][0].content }}</p>#}
{#                                 <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">#}
{#                                      <div class="avatar"><img src="/static/img/avatar-2.jpg" alt="..." class="img-fluid"></div>#}
{#                                      <div class="title"><span>John Doe</span></div></a>#}
{#                                    <div class="date"><i class="icon-clock"></i> {{ articles[i][0].creat_time }}</div>#}
{#                                    <div class="comments meta-last"><i class="icon-comment"></i>{{ articles[i][0].comments }}</div>#}
{#                                  </div>#}
{#                                </div>#}
{#                              </div>#}
{#                              {% else %}#}
{#                                  <div class="post col-xl-6">#}
{#                                <div class="post-thumbnail"><a href="{{ url_for('bp.list_post',aid = articles[i][0].aid - 1 )}}"><img src="/static/img/blog-post-2.jpg" alt="..." class="img-fluid"></a></div>#}
{#                                <div class="post-details">#}
{#                                  <div class="post-meta d-flex justify-content-between">#}
{#                                    <div class="date meta-last">发表于:{{ moment(current_time).fromNow()}}</div>#}
{#                                    <div class="category"><a href="#">{{categories[cid-1].name}}</a></div>#}
{#                                  </div><a href="{{ url_for('bp.list_post',aid = articles[i][0].aid - 1)}}">#}
{#                                    <h3 class="h4">这是凑数的，没办法真的没有文章了</h3></a>#}
{#                                  <p class="text-muted">长得好看的才能叫吃货，长得不好看的只能叫饭桶。</p>#}
{#                                  <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">#}
{#                                      <div class="avatar"><img src="/static/img/avatar-2.jpg" alt="..." class="img-fluid"></div>#}
{#                                      <div class="title"><span>John Doe</span></div></a>#}
{#                                    <div class="date"><i class="icon-clock">2020-02-28 00:00:00</i></div>#}
{#                                   <div class="comments meta-last"><i class="icon-comment">10</i></div>#}
{#                                  </div>#}
{#                                </div>#}
{#                              </div>#}
{#                                {% endif %}#}
{#             {% endfor %}#}
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                  {% if pagination.page == 1 %}
                <li class="disabled"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                  {% else %}
                  <li class="page-item"><a href="{{ url_for('bp.list_article',cid=cid,page=pagination.prev_num)}}" > <i class="fa fa-angle-left"></i></a></li>
                  {% endif %}

              {% for current in pagination.page_range %}
                    <li class="page-item"><a href="{{ url_for('bp.list_article',cid=cid,page=current)}}" class="page-link active">{{ current }}</a></li>
              {% endfor %}

                {% if pagination.page == pagination.pages %}
                    <li class="disabled"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% else %}
                    <li class="page-item"><a href="{{ url_for('bp.list_article',cid=cid,page=pagination.next_num)}}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </main>
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <form action="#" class="search-form">
              <div class="form-group">
                <input type="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div>
          <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            <div class="blog-posts"><a href="#">
                {% for article in three_articles %}
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="{{ url_for('static',filename=article.picture) }}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>{{ article.title }}</strong>
                    <div class="d-flex align-items-center">
                      <div class="views"><i class="icon-eye"></i> {{ article.hits }}</div>
                      <div class="comments"><i class="icon-comment"></i>{{ article.comments }}</div>
                    </div>
                  </div>
                </div></a><a href="#"></a>
                {% endfor %}
            </div>
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">分类</h3>
            </header>
              {% for category in categories %}
             <div class="item d-flex justify-content-between"><a href="{{ url_for('bp.list_article',cid=category.cid) }}">{{category.name}}</a><span>{{ category.num }}</span></div>
             {% endfor %}
          </div>
          <!-- Widget [Tags Cloud Widget]-->
          <div class="widget tags">
            <header>
              <h3 class="h6">Tags</h3>
            </header>
          {% for i in range(0,tags_num) %}
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="tag">#{{ tags[i].tname }}</a></li>
            </ul>
          {% endfor %}
          </div>
        </aside>
      </div>
    </div>
{% endblock %}

